body {
    font-family: 'RocknRoll One', sans-serif;
    background: rgba(0,0,0,255);
    color: white;
    overflow: hidden;
}

.header {
    display: inline-block;
    font-size: 18px;
    padding: 4px 10px;
    border-radius: 3px;
    transform: skewX(-10deg);
    background-color: darkred;
    margin: 10px;
}

.header > span {
    transform: skewX(10deg);
}

#overlay {
    position: relative;
}

#overlay::before {
    background-image: linear-gradient( top, 
            rgba( 0, 0, 0, 1 ) 0%, 
            rgba( 0, 0, 0, 0 ) 10% );
    background-image: -webkit-linear-gradient( top, 
            rgba( 0, 0, 0, 1 ) 0%, 
            rgba( 0, 0, 0, 0 ) 10% );
    content: "\00a0";
    height: 100%;
    position: absolute;
    width: 100%;
	z-index: 100;
}

.track > span {
    display: block;
}

.title {
    font-size: 24px;
}
.artist {
    font-size: 22px;
    color: #ccc;
}

.tracks {
    overflow: hidden;
    height: 80%;
    max-height: 80%;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.track {
    max-height: 100%;
    opacity: 1;
    transition: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    white-space: nowrap;
    margin-top: 10px;

    animation: slide 1s forwards;
    animation-delay: 0;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 0;
}

@-webkit-keyframes slide {
    0% { max-height: 0; opacity: 0; margin-top: 0; }
    100% { max-height: 100%; opacity: 1; margin-top: 10px; }
}

@keyframes slide {
    0% { max-height: 0; opacity: 0; margin-top: 0; }
    100% { max-height: 100%; opacity: 1; margin-top: 10px; }
}

.track.adding {
    overflow: visible;
}